.mainCard {
  background-color: #af9cf3;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.progressBar {
  position: relative;
  top: 4vw;
  left: 48vw;
  background-color: white;
  width: 10vw;
  border-radius: 50%;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: black !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #44b77b !important;
}

.CircularProgressbar-text {
  font-family: "Nunito", sans-serif !important;
  font-style: italic;
  font-weight: 900;
  font-size: 1.625rem !important;
}

.contentCard {
  /* background-color: yellow !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 5vw;
  height: 80vh;
  width: 90vw;
  /* gap: 80px; */
  padding: auto;
  background-color: white;
  border-radius: 3rem;
  margin: 0px 0 2vw 2.1vw;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

label {
  background-color: #f3f4fa;
  width: 70% !important;
  height: 5vw;
  padding-left: 1vw;
  padding-top: 0.313rem;
}

.questionDisplay {
  font-family: "Nunito";
  font-weight: 620;
  font-size: 2.5rem;
  line-height: 2.8rem;
}

.dgrQDw {
  font-family: "Nunito";
}

.nxtButton {
  width: 100%;
  text-align: center;
}

.nxtBtn {
  height: 7vh;
  width: 46vw;
  background-color: #ff3b3c !important;
  color: white !important;
  font-size: xx-large !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 700 !important;
}
